{% extends "coins/landing.html" %}
{% load humanize %}
{% load static %}

{% block title%}
<title>Coin</title>
{% endblock %}


{% block body %}
<section class="container">

    <h3 class='title'>{{coin|title}}</h3>

    <div class="selectBox">
        <select name="" id="select">
            <option value="90">90 days</option>
            <option value="7">7 days</option>
            <option value="24">24 hours</option>
        </select>
    </div>
    <div>
        <canvas id="myChart"></canvas>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'coins/javascript/details.js' %}"></script>
{% endblock %}