{% extends "coins/landing.html" %}
{% load static %}

{% block title%}
<title>Market</title>
{% endblock %}


{% block body %}

<section class="container">
    <h3 class='title'>Cryptocurrency Prices by Market Cap</h3>
    <div class="row border">
        <table class="table table-hover" id="example">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Coin Name</th>
                    <th scope="col">Coin ID</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>

            <tbody>
                {% for coin in coins%}

                <tr>
                    <td scope="row"> <a style="text-decoration: none; color: inherit" href="">{{forloop.counter}}</a>
                    </td>
                    <td>
                        <a style="text-decoration: none; color: inherit" href="">
                            <div>
                                <img src="{{coin.image}}" class='img-icon' alt="">
                                {{coin.name}}
                            </div>
                        </a>
                    </td>
                    <td class="coinName"> <a style="text-decoration: none; color: inherit" href="">{{coin.id}}</a> </td>
                    <td> <a style="text-decoration: none; color: inherit" href="">{{coin.current_price}}</a> </td>
                </tr>

                {% endfor %}
            </tbody>

        </table>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">

            {% if coins.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{coins.previous_page_number}}">Previous</a></li>

            {% endif %}

            <li class="page-item disabled"><a href="#" class="page-link">Page {{coins.number}} of
                    {{coins.paginator.num_pages}}</a>
            </li>
            {% if coins.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{coins.next_page_number}}">next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{coins.paginator.num_pages}}">Last &raquo</a></li>
            {% endif %}
        </ul>
    </nav>
    <!-- <div id="data-container"></div>
    <div id="pagination-container"></div> -->
</section>
{% endblock %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://pagination.js.org/dist/2.1.5/pagination.min.js"></script>
<!-- <script src="{% static 'coins/javascript/market.js' %}"></script> -->

{% endblock %}